.image-box {
  min-width: 200px;
  width: 20%;
  height: 25rem;
  position: relative;
  overflow: hidden;
  overflow: hidden;
  @media(max-width: 1080px) {
    min-width: none;
    width: 50%;
  }
  @media(max-width: 375px) {
    width: 100%;
  }
  &:hover .image-box__info-box {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  &__image {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &__info-box {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 5rem;
    background: rgba(105, 103, 103, 0.8);
    padding: 1.75rem 1.25rem;
    transform: translateY(.5rem);
    visibility: hidden;
    opacity: 0.6;
    transition: .4s all ease-in-out;
    a {
      color: inherit;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
  }
  &__tag {
    margin-right: .5rem;
    background: rgb(88, 90, 97);
    padding: 5px 15px;
    border-radius: .5rem;
  }
  &__favorite-toggle {
    z-index: 1;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-style: bold;
    background: rgb(88, 90, 97)
  }
}